/* img original pixelated */

img {
   image-rendering: auto;
   image-rendering: crisp-edges;
   image-rendering: pixelated;
   /* Safari seems to support, but seems deprecated and does the same thing as the others. */
   image-rendering: -webkit-optimize-contrast;
 }

/* custom coding */

html, body{
   /* overflow-x: hidden; */
}

body * {
   font-family: 'tavirajregular';
}

input, textarea{
   outline: 0 none;
   border: 0 none;
   padding: 0 8px;
}

textarea{
   padding: 8px;
}

button{
   outline: 0 none;
   border: 0 none;
   padding: 0;
   cursor: pointer;
   background-color: transparent;
}

figure{
   margin: 0;
   padding: 0;
}

a{
   text-decoration: inherit;
}

.full{
   width: 100%;
}

.content-width-1{
   width: 1280px;
   margin: auto;
   box-sizing: border-box;
}

.with-bg-image{
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.d-block{
   display: block;
}

.d-inline-block{
   display: inline-block;
}

.d-flex{
   display: flex;
}

.text-hide{
   text-indent: -999px;
}

.margin-auto{
   margin: auto;
}

/* font sizes */

.w-fs-16 > *, .fs-16{
   font-size: 16px;
}

.w-fs-20 > *, .fs-20{
   font-size: 20px;
}

.w-fs-21 > *, .fs-21{
   font-size: 21px;
}

.w-fs-24 > *, .fs-24{
   font-size: 24px;
}

.w-fs-27 > *, .fs-27{
   font-size: 27px;
}

.w-fs-32 > *, .fs-32{
   font-size: 32px;
}

.w-fs-72 > *, .fs-72{
   font-size: 72px;
}

.w-fs-90 > *, .fs-90{
   font-size: 90px;
}

/* Text Color */

.text-black{
   color: #000;
}

.navbar-footer.text-black a{
   color: #000;
}

.text-white{
   color: #fff;
}

/* Background */

.bg-c1{
   background-color: #ededed;
}

.bg-c2{
   background-color: #333333;
}

.bg-c3{
   background-color: #f2d7b8;
}

/* Text Align */

.text-left{
   text-align: left;
}

.text-center{
   text-align: center;
}

.text-right{
   text-align: right;
}

/* Line Height */

.lh-1-5{
   line-height: 1.5em;
}

.lh-1-25{
   line-height: 1.25em;
}


/* Buttons */

.slide-button-1{
   background-color: #000;
   padding: 5px 14px;
   margin-top: 65px;
}

.slide-button-1:hover{
   text-decoration: underline;
}

.go-down{
   position: absolute;
   bottom: 70px;
   left: 50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   text-indent: -9999px;
   width: 47px;
   height: 46px;
   background-image: url(../img/go-down.png);
   background-position: center center;
}

/* Z Index */

.z-index-1{
   z-index: 1;
}

.z-index-3{
   z-index: 3;
}

.z-index-5{
   z-index: 5;
}

.z-index-7{
   z-index: 7;
}

/* Paddings */

.padding-1{
   padding: 140px 0 160px 0;
}

.padding-2{
   padding: 25px 0 60px 0;
}

.padding-3{
   padding: 45px 0 60px 0;
}

.padding-4{
   padding: 70px 0 60px 0;
}

.padding-6{
   padding: 140px 0 45px 0;
}

/* Margins */

.margin-1{
   margin-top: 80px!important;
}

.margin-2{
   margin-top: 60px!important;
}

/* Max Width Img */

.mw-img{
   max-width: 100%;
}

/* Header */

.header{
   position: relative;
   z-index: 3;
   transition: all .25s ease;
   -webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
   -ms-transition: all .25s ease;
   -o-transition: all .25s ease;
}

.header.sticky{
   position: sticky;
   top: 0;
   background: #fff;
   margin-top: 60px;
}

.header.sticky .content{
   position: static;
}

.header .content{
   height: 150px;
   position: absolute;
   width: 100%;
}

.header.convert-in-scroll{
   position: fixed;
   width: 100%;
}

.header.convert-in-scroll .content, .header.sticky .content{
   height: 110px;
}

.header.convert-in-scroll .wrapper-logo, .header.sticky .wrapper-logo{
   width: 200px;
   padding-top: 22px;
}

.header.convert-in-scroll .wrapper-logo-short, .header.sticky .wrapper-logo-short{
   top: 34px;
}

.header.convert-in-scroll .section-navbar, .header.sticky .section-navbar {
   padding-top: 40px;
}

.color-invert{
   transition: all .5s;
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   -ms-transition: all .5s;
   -o-transition: all .5s;
}

.header.convert-in-scroll .color-invert, .header.sticky-1 .color-invert, .filter-black .color-invert{
   filter: invert(1);
   -webkit-filter: invert(1);
}

.section-navbar.convert .button-toggle-navbar.color-invert{
   filter: initial;
   -webkit-filter: initial;
}

.wrapper-logo{
   position: absolute;
   top: 0;
   left: 50%;
   display: flex;
   width: 254px;
   padding-top: 45px;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
}

.wrapper-logo-short{
   position: absolute;
   width: 48px;
   top: 60px;
   left: 50px;
}

/* Navbar */

.section-navbar{
   padding-right: 50px;
   position: absolute;
   padding-top: 70px;
   right: 0;
   box-sizing: border-box;
   overflow: hidden;
}

.section-navbar.convert{
   background-color: #000;
   height: 95%;
   min-height: 95vh;
   max-height: 100vh;
   top: 0;
   width: 393px;
   overflow-y: auto;
}

.section-navbar.convert .content-navbar{
   justify-content: flex-end;
}

.content-navbar{
   display: flex;
   align-items: center;
}

.wrapper-navbar .wrapper-search{
   display: block;
   padding-top: 85px;
}

.section-navbar.convert .content-navbar .wrapper-search{
   display: none;
}

.header .section-navbar.convert .send-to-search.color-invert{
   filter: initial;
   -webkit-filter: initial;
}

.wrapper-navbar{
   display: none;
   color: #fff;
   padding-left: 52px;
   padding-right: 25px;
   position: relative;
   top: -28px;
}

.section-navbar.convert .wrapper-navbar{
   display: block;
}

.wrapper-navbar a{
   color: #fff;
   padding-bottom: 4px;
   display: block;
   font-family: 'tavirajregular';
}

.wrapper-navbar a:hover{
   text-decoration: underline;
}

.nav ul{
   padding: 0 0 0 15px;
}

.menu-2{
   padding-top: 75px;
}

.button-toggle-navbar{
   width: 31px;
   height: 20px;
   margin-left: 40px;
   position: relative;
   z-index: 2;
   transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
}

.section-navbar.convert .button-toggle-navbar{
   height: 25px;
}

.button-toggle-navbar span{
   width: 100%;
   height: 4px;
   background-color: #fff;
   display: block;
   margin-bottom: 4px;
   transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
}

.section-navbar.convert .button-toggle-navbar span:nth-child(1){
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   position: relative;
   top: 8px;
}

.section-navbar.convert .button-toggle-navbar span:nth-child(2){
   display: none;
}

.section-navbar.convert .button-toggle-navbar span:nth-child(3){
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
}

.button-toggle-navbar span:last-child{
   margin-bottom: 0;
}


/* Search */

.search{
   width: 191px;
   height: 30px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   border: 1px solid #000;
}

.send-to-search{
   width: 20px;
   height: 20px;
   background-image: url(../img/glass.png);
   margin-left: 10px;
}


/* Body Code */

/* Slider 1 */

.slider-1{
   position: relative;
   padding-bottom: 22%;
   min-height: 550px;
}

.slider-1 .slide{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   opacity: 0;
   transition: all .5s;
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   -ms-transition: all .5s;
   -o-transition: all .5s;
}

.slide.active{
   display: block;
   opacity: 1;
}

.slider-1 .description{
   min-width: 92%;
   display: table;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 2;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}

.slider-1 .slide img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* Home Articles */

.wrapper-section-articles{
   padding: 0;
}

.section-articles{
   column-count: 4;
   -webkit-column-count: 4;
   -moz-column-count: 4;

   column-gap: 20px;
   -webkit-column-gap: 20px;
   -moz-column-gap: 20px;

   padding-top: 50px;
}

.section-articles .article{
   width: 100%;
   margin-bottom: 20px;
   float: left;
   position: relative;
} 

.section-articles a{
   display: block;
   width: 100%;
}

.section-articles header{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,.6);
   opacity: 0;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   box-sizing: border-box;
}

.section-articles .title{
   color: #fff;
}

.section-articles a:hover header{
   opacity: 1;
   animation-name: fadeInLeft;
}

.section-articles img{
   width: 100%;
   display: block;
}

/* Section Nosotros */

.header.sticky-2{
   background-color: transparent;
}

.wrapper-section-nosotros{
   /* padding-bottom: 55%; */
   position: relative;
}

.wrapper-section-nosotros .content{
   position: relative;
}

.wrapper-legend-1{
   position: relative;
   z-index: 2;
   width: 100%;
   background-color: rgba(0,0,0,.6);
   margin-top: 260px;
   padding: 50px 0 65px 0;
}

.legend-1{
   width: 775px;
   max-width: 92%;
   margin: 0 auto;
}

/* Navbar Footer */

.navbar-footer{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 30%;
}

.navbar-footer a{
   color: #fff;
   display: inline-block;
   padding: 6px 12px;
   font-family: 'tavirajlight';
}

.navbar-footer a:hover{
   text-decoration: underline;
}

/* Page Tarot Terapeutico */

.section-style-1{
   width: 780px;
   max-width: 88%;
}

.section-style-1 .description{
   margin-top: 56px;
}

.grid-col-2{
   column-count: 2;
   -webkit-column-count: 2;
   -moz-column-count: 2;

   -webkit-column-gap: 80px;
   -moz-column-gap: 80px;
   column-gap: 80px;

   display: flex;
   align-items: flex-start;
}

.grid-col-2 > * {
   width: 100%;
}

.p-tt .slider-1{
   padding-top: 100px;
}

/* Float Buttons Share */

.float-share{
   opacity: 0;
   width: 25px;
   height: 63px;
   position: fixed;
   z-index: 10;
   right: 15%;
   top: 50%;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -o-transform: translateY(-50%);
   transition: all .1s ease-in;
   -webkit-transition: all .1s ease-in;
   -moz-transition: all .1s ease-in;
   -ms-transition: all .1s ease-in;
   -o-transition: all .1s ease-in;
}

.float-share.active{
   opacity: 1;
}

.float-share button{
   display: block;
   width: 27px;
   height: 27px;
}

/* Tarot Luna Pan */

.reverse-pos{
   position: static!important;
   width: inherit!important;
   max-width: 90%;
}

.separator{
   width: 100%;
   height: 80px;
   background-color: #fff;
   display: block;
}

.filter-invert{
   filter: invert(1);
   -webkit-filter: invert(1);
}

/* Contacto */

.p-contact .wrapper-section-nosotros{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.p-contact .wrapper-legend-1{
   margin-top: 0;
   overflow-y: auto;
   padding: 40px 0 60px 0;
}

/* Form */

.form-1{
   position: relative;
}

.form-1 p{
   display: flex;
   flex-direction: column;
   width: calc(100% - 120px);

   margin-top: 25px;
}

.form-1 span{
   color: #fff;
   display: block;
   margin-bottom: 10px;
}

.form-1 p input, .form-1 p textarea{
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;

   height: 50px;
   box-sizing: border-box;
}

.form-1 p textarea{
   height: 126px;
}

.form-1 button{
   position: absolute;
   bottom: 0;
   right: 0;
   width: 107px;
   height: 34px;
   background-color: #662d91;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}